/* ============== Поля инпутов============== */
.registartion__container {
  display: flex;
  height: 400px;
  background: linear-gradient(180deg, rgba(122, 217, 79, 0.1) 0%, rgba(0, 173, 24, 0.1) 100%);
  border-radius: 22px;
  margin-bottom: 15px;
}
form {
  flex: 0 1 50%;
  padding: 10px 0;
  margin: 15px;
}
label {
  padding: 8px 0;
  width: 140px;
}
.input__2 label {
  width: 200px;
  text-align: right;
  padding: 8px 8px;
}
.title__registration {
  text-align: center;
}
.input__field {
  display: flex;
  padding: 8px 0;
  margin: 15px;
}
input {
  width: 140px;
  margin-left: 10px;
}
.input__2 {
  flex-direction: column;
  width: 330px;
  margin: 15px;
  align-items: center;
}
#symbol_check {
  width: 280px;
  height: 20px;
  margin-top: 8px;
}
.firstField .secondField .thirdField {
  flex-direction: row;
  margin: 15px;
}
.check-password {
  width: auto;
  height: 57px;
  color: #fff;
  background: linear-gradient(180deg, rgba(122, 217, 79, 0.8) 0%, rgba(0, 173, 24, 0.8) 100%);
  border-radius: 8px;
  padding: 10px 12px;
  margin: 10px 10px;
}
.send {
  height: 37px;
  width: 150px;
  color: #fff;
  background: linear-gradient(180deg, rgba(122, 217, 79, 0.8) 0%, rgba(0, 173, 24, 0.8) 100%);
  border-radius: 8px;
  padding: 0px 12px;
  margin: 10px;
}
#registration {
  visibility: hidden;
}
#false {
  visibility: hidden;
}
